
/* TODO:
    restyle tables on /add_workout
    fix sidebar formatting
*/


/*
Colour pallette
  Blue:         #114084
  Light-Blue:   #3466AA
  Lighter-Blue: #b5d7ff
  White
  Light-Grey:   #808080
  Black
*/

/* Style for nav brand */
.navbar-brand {
  width: 50px;
  height: 50px;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.5s ease;
}

.navbar-brand:hover {
  color: #fff;
  background-color: #114084;
}

/* Style for nav items */
.nav-item {
  font-size: medium;
  display: inline-block;
  background-color: #d0d0d0;
  padding: 0px 5px;
  border: 1px solid #000;
  border-radius: 25px;
  margin: 0px 5px 5px 5px;
  transition: background-color 0.5s ease;
}

.nav-item:hover {
  color: #fff;
  background-color: #b5d7ff;
  border: 1px solid #000;
}

/* Sticky sidebar styles */
.sidebar-sticky {
  position: sticky;
  top: 0;
  border: 1px solid #388CDD;
  height: 100vh;
  overflow-y: auto;
}

/* Override sticky styles on mobile */
@media (max-width: 767.98px) {
  .sidebar-sticky {
    position: static;
    border-right: 0px;
  }
}

label {
  font-weight: bold;
  color: #114084;
  padding: 10px 20px
}

/* Style for tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
  }

  thead th {
    padding: 8px;
    background-color: #f2f2f2;
    font-weight: bold;
  }

  tbody td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  tbody th {
    padding-top: 8px;
  }

  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }

  tbody tr.end_table {
    padding: 8px;
    background-color: white;
    color: black;
    border-bottom: 1px solid white;
  }